body { 
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu {
    background-color: #45564b;
    color: white;
    text-align: center;
    font-family: 'GFS Didot', serif;
    position: fixed;
    width: 100vw;
    padding: 10px 0;
    top: 0; 
    z-index: 1000; 
}

@media (min-width: 600px) {
    .menu {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .menu {
        font-size: 18px;
    }
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.menu ul li {
    margin: 0 20px; 
    display: inline-block; 
}

.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

@media (max-width: 545px) {
    .menu ul li {
        margin: 5px 10px;
        font-size: 14px; 
    }
}

@media (max-width: 425px) {
    .menu ul li {
        font-size: 12px; 
    }
}

@media (max-width: 400px) {
    .menu ul li {
        font-size: 10px; 
    }
}

.main {
    flex: 1;
}
    
.header-index {
    display: flex;
    flex-direction: column;
}

.image-container {
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    display: block; 
    background-attachment: fixed; 
}


.principal {
    height: 610px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.principal h1{
    font-family: 'GFS Didot', serif;
    margin-bottom: 2px;
}

.principal h2{
    font-family: 'Courier New', Consolas, 'Fira Code', monospace;
    margin-top: 2px;
}

.secundaria {
    height: 195px;
}

.header-sobre,
.header-horario{
    height: 195px;
    color: white;
    background-size: cover;
    background-position: center;
    display: flex; 
    align-items: center;
}

.content {
    padding: 40px;
    text-align: justify;
    background-color: #45564b;
    color: #ffffff;
    font-family: 'Courier New', Consolas, 'Fira Code', monospace;
}

@media (max-width: 600px ) {
    .content p {
        font-size: 14px;
    }
}

.content h1{
    font-family: 'GFS Didot', serif;
    font-size: 25px;
}

@media (max-width: 400px ) {
    .content h1 {
        font-size: 20px;
    }
}

iframe {
    width: 600px;
    height: 450px;
    border: 0;
}

@media (max-width: 700px ) {
    iframe {
        width: 300px;
        height: 225px;
    }
}

.form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    font-family: 'montserrat', serif;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="reset"] {
    background-color: #f44336;
}

button:hover {
    opacity: 0.9;
}

table {
    width: 100%; 
    height: auto; 
    border-collapse: collapse;
    margin: 0;
    background-color: #5e7c5b;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
    word-wrap: break-word; 
}

th {
    background-color: #292929;
}

@media (max-width: 600px) {
    table {
        font-size: 12px; 
    }
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #292929;
    color: #ffffff;
    font-size: 12px;
}

.link-sublinhado {
    color: #3498db; 
    text-decoration: underline; 
}

.link-sublinhado:hover {
    text-decoration: none; 
    color: #1abc9c; 
}